.card {
    @extend %link-underline;
    width: $card-width;
    // height: $card-height;
    /*margin: 0.5em;*/
    // .card-body{
    //     &:hover {
    //             color: $mauve;
    //             text-decoration: underline;
    //     }
    // }
    .card-poster {
        width: 100%;
        height: $card-height;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    // .card-poster {
    //     border-radius: 5px;
    //     background-color: #cccccc;
    // }

    .card-title {
        font-weight: $medium;
        font-size: 1.2em;
    }
}