// Fonts
@import "fonts";

// Variables
@import "variables";
@import "card";
@import "swiper";

//Normalize.css
@import '~normalize.css/normalize.css';

//Swiper
@import '~swiper/dist/css/swiper.css';

ul {
    padding: 0;
    margin: 0;
    li{
        padding: 0;
        margin: 0;
    }
}

ul.unstyled {
    list-style: none;
}
ul.filmography {
    li {
        @extend %flex-row-center;
        margin-bottom: 1em;
    }
}

header {
    grid-area: header;
}

main {
    grid-area: main-content;
}

footer {
    grid-area: footer;
}


#app {
    font-family: $font-family-ubuntu;
    color: $dark;
}


%grid {
    display: grid;
}
.wrap {
    @extend %grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main-content"
        "footer";
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%flex-row {
    display: flex;
    flex-flow: row wrap;
}

%flex-row-center {
    display: flex;
    align-content: center;
    align-items: center;
}

%header-nav-flex {
    @extend %flex-row-center;
}

%flex-grow-1 {
    flex: 1;
}

%link {
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $mauve;
        }
    }
}

%link-underline {
    @extend %link;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.main-content{
    padding: 1em;       
    background-color: $white;
}

.footer {
    @extend %link;
    background-color: $rich-black;
    padding: 1em;
    font-size: 2em;
    color: $white;
}

.header {
    white-space: nowrap;

    .nav{
        background-color: $rich-black;
        font-weight: $medium;
        color: $white;
        padding: 1em;
        @extend %header-nav-flex;
        flex-flow: row wrap;
        ul {
            @extend %header-nav-flex;
            justify-content: center;
            li {
                margin-right: 2em;
                &:last-child {
                    margin-right: 0;
                }
                a.active {
                    color: $mauve;
                }
            }
        }
        .logo {
            @extend %flex-grow-1;
            @extend %link;
            font-size: 2em;
        }
        .menu {
            @extend %flex-grow-1;
            @extend %link-underline;
        }
        .right-nav {
            @extend %flex-grow-1;
            @extend %header-nav-flex;
            @extend %link-underline;
            justify-content: flex-end;
            form {
                @extend %header-nav-flex;
            }
            .search-components {
                @extend %flex-column;
                margin-right: 1em;
                a {
                    font-size: .7em;
                }
            }
        }
    }
}

.right-sidebar {
    @extend %grid;
    grid-template-columns: auto 25%;
    grid-template-areas: "content sidebar";
}

section.content-block {
    grid-area: 'content';
    .content {
        @extend %flex-row;
        .card {
            $margin-right: 2%;
            flex-basis: round(100%/$card-in-row) - $margin-right;
            margin-right: $margin-right;
            margin-bottom: .5em;
        }
        .poster {
            flex-basis: 300px;
            margin-right: 3%;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
        .properties {
            @extend %flex-grow-1;
            @extend %link-underline;
            a {
                text-decoration: underline;
            }
            table {
                th {
                    text-align: right;
                    vertical-align: top;
                    font-weight: $normal;
                    color: $old-silver;
                    padding-bottom: 1em;
                    &:after {
                        content: ':';
                    }
                }
                td {
                    padding-bottom: 1em;
                    padding-left: .5em;
                }
            }
            .raiting {
                @extend %flex-row-center;
                margin-bottom: 1em;
                div {
                    margin-right: 1em;
                }

            }
            .player {
                margin-top: 1em;
            }
        }
    }
}

aside {
    grid-area: 'sidebar';
}

.sidebar {
    @extend %link-underline;
    ul {
        padding: .5em 0;
        li {
            a {
                display: block;
                padding: .5em;
            }
        }
        li.active {
            color: $mauve;
            font-weight: $bold;
        }
    }
    .title {
        font-size: 1.2em;
        padding: 0 0 .5em .5em;
        border-bottom: 2px solid $mauve;
    }
}

.content-layout {

}